* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* สีหลักของเว็บไซต์ */
    --primary-color: #FF9EB5;       /* ชมพูพาสเทล */
    --primary-dark-color: #E87591;  /* ชมพูเข้ม */
    --secondary-color: #A8D8EA;     /* ฟ้าพาสเทล */

    /*สีข้อความ*/
    --mute-text-color:gray;
    --nav-text-color:black;
    --light-text-color:white;
    
    /*สีพื้นหลัง*/
    --header-bg-color:rgb(246, 230, 253);
    --light-bg-color:white;
    --footer-bg-color:black;
    
    /*สีเงา*/
    --header-shadow:0 4px 6px rgb(112, 112, 112);
    --card-shadow:0 3px 6px rgb(165, 165, 165);
}

.html {
    scroll-behavior: smooth;
    /*font-size: 16px;*/
}

.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    /*background: linear-gradient(135deg, #65acdb, #3bad67, #aee272);*/
    background-color: #FFF8FA;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
}


/*===================================
                Header
======================================*/  
.header {
    background-color: rgba(255, 255, 255, 0.534);
    box-shadow: var(--header-shadow);

    position: sticky;
    top: 0;
    z-index: 10;

    backdrop-filter: blur(10px);
}

.header-content {
    text-align: center;
    
    padding-block: 2rem;
}

.header-title {
    color: var(--primary-color);
    font-size: clamp(2rem, 5vw ,3rem);
}

.header-subtitle {
    color: var(--mute-text-color);
}

/*===================================
                Navbar
======================================*/ 
nav {
    text-align: center;
    padding-block: 2rem;
}

nav a {
    text-decoration: none;

    color: var(--nav-text-color);
    background-color: var(--light-bg-color);
    padding: 0.7rem 1.2rem;
    margin: 0.5rem;

    border-radius: 999px;
    box-shadow: var(--card-shadow);

    cursor: pointer;

    transition: transform 0.5s, box-shadow 0.2s;
    display: inline-block;
    user-select: none;
}

nav a:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 14px gray;
}

nav a.active {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
}
/*===================================
                Main
======================================*/ 

.page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.pet-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.pet-card {
    background-color: var(--light-bg-color);
    box-shadow: var(--card-shadow);

    border-radius: 0.75rem;
    overflow: hidden;

    transition: transform 0.3s;
}

.pet-card:hover{
    transform: translateY(-8px);

}

.pet-card img {
    height: 16.25rem;
    width: 100%;
    object-fit: cover;
}

.pet-content {
    padding: 1.25rem;
}

.pet-content h2{
    color: var(--primary-dark-color);

}

.breed {
    color: var(--mute-text-color);
}

/*===================================
                Footer
======================================*/ 

footer {
    padding-block: 2rem;
    background-color: var(--footer-bg-color);

    color: var(--light-text-color);
    margin-top: 1.5rem;

    text-align: center;
}











